body{
    background-color: #FFE6EE;
}
.background{
   
    background-color: #FFF;
    width: 60%;
    padding: 5%;
    padding-bottom: 10%;
    margin: auto;
}
.login{
    padding: 4%;
}
h1{
    font-size: 32px;
    font-family: "jf-openhuninn-1.1";
    color: #E5508B;
    display: inline-block;
    margin-bottom: 5%;
}
h2{
    font-size: 20px;
    font-family: "jf-openhuninn-1.1";
    color: #E5508B;
}
p{
    font-size: 10px;
    font-family: "jf-openhuninn-1.1";
    color: #FF9EC9;
    text-align: left;
}
.password-sign,.gmail,.phone-sign,.name{
    border: none;
    outline: none;
}

input::placeholder{
    display: none;
    color: #FE97C4;
    font-family: "jf-openhuninn-1.1";
    
}
.language {
    display: inline-block;
    font-family: "jf-openhuninn-1.1";
    color: #f777a9;
    box-sizing: border-box;
  
    border: 2px solid #f777a9;
    border-radius: 50px;
    padding: 3%;
  }
.choice-date{
    font-family: "jf-openhuninn-1.1";
    color: #f777a9;
    box-sizing: border-box;
  
    border: 2px solid #f777a9;
    border-radius: 50px;
    padding: 2% 4%;
}
.choice-sign{
    margin-top: 4%;
}
.name{
    background: linear-gradient(0deg, #FFF6F8, #FFF6F8);
    border-radius: 60px;
    display: inline-block;
    padding: 5%;
    width: 90%;
}
.password-sign{
    background: linear-gradient(0deg, #FFF6F8, #FFF6F8);
    border-radius: 60px;
    display: inline-block;
    padding: 4%;
    width: 100%;
}
.gmail{
    background: linear-gradient(0deg, #FFF6F8, #FFF6F8);
    border-radius: 60px;
    padding: 2%;
    width: 90%;
}
.phone-sign{
    background: linear-gradient(0deg, #FFF6F8, #FFF6F8);
    border-radius: 60px;
    display: inline-block;
    padding: 2%;
    width: 90%;
}
.bottom{
    margin: auto;
    width: 24%;
    margin-top: 5%;
}
.bottom a{
    text-decoration: none;
    background-color: #FE97C4;
    font-family: "jf-openhuninn-1.1";
    font-size: 24px;
    color: rgb(255, 255, 255);
    padding: 5% 20%;
    text-align: center;
    border-radius: 60px;
}
.bottom :hover{
    text-decoration: none;
    background-color: #E5508B;

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

#date{
    border-color: #E5508B;
}
#tw{
    position: absolute;
}

@media screen and (max-width: 500px){
    .first,.second,.third,.fourth{
        margin-bottom: 3%;
    }
    .name{
        width: 80%;
    }
    .background{
        width: 100%;
    }
    h1{
        font-size: 24px;
    }
    h2{
        display: none;
    }
    .topic{
        text-align: center;
    }
    img{
        display: none;
    }
    h2{
        display: none;
    }
    .login{
        padding: 8%;
    }
    p{
        text-align: right;
    }
    .password-sign,.gmail,.phone-sign,.name{
        width: 80%;
    }
    .gmail,.phone-sign{
        padding: 4%;
    }
    .choice-date,.language{
        width: 80%;
        text-align: center;
    }
    input::placeholder{
        color: #FE97C4;
        font-family: "jf-openhuninn-1.1";
    }
    .bottom{
        margin: auto;
        width: 40%;
        margin-top: 5%;
    }
    .first,.second,.third,.fourth{
        text-align: center;
    }
    .language{
        padding: 2% 3%;
        margin-top: 1%;
    }
    .choice-date{
        padding: 2.5% 2%;
    }
}

